<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OsuAchievedOverlay.Next.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="cef"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <OsuAchievedOverlay.Next.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
    </OsuAchievedOverlay.Next.Properties.Settings>
  </userSettings>
</configuration>