<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amayakase.OsuHelper" version="1.0.9" targetFramework="net472" />
  <package id="cef.redist.x64" version="94.4.5" targetFramework="net472" />
  <package id="cef.redist.x86" version="94.4.5" targetFramework="net472" />
  <package id="CefSharp.Common" version="94.4.50" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="94.4.50" targetFramework="net472" />
  <package id="HoLLy.osu.DatabaseReader" version="3.1.0-alpha1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.37" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.11.10" targetFramework="net472" />
  <package id="ILMerge" version="3.0.41" targetFramework="net472" />
  <package id="ILMerge.MSBuild.Tasks" version="1.0.0.3" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="MarkdownSharp" version="2.0.5" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="osu.Shared" version="1.0.3" targetFramework="net472" />
</packages>