:root {
    --osu-dark: #2E1F25;
    --osu-dark-hover: #22171b;
    --osu-regular: #3D2932;
    --osu-regular-hover: #312128;
}

@font-face {
    font-family: "Torus";
    src: url("../../fonts/Torus Regular.otf") format("opentype");
}

.stretched-link {
    transition: all 0.5s ease-in-out;
}

.stretched-link:hover{
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.list-group-flush > .list-group-item {
    border-width: 0 0 1px;
    background-color: var(--osu-dark);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-bg-dark {
    color: #fff !important;
    background-color: var(--osu-dark) !important
}

.btn-bg-dark:hover {
    color: #fff !important;
    background-color: var(--osu-dark-hover) !important
}

.btn-bg-dark:focus,
.btn-bg-dark.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-bg-dark:focus,
.btn-bg-dark:active,
.btn-bg-dark.active {
    color: #fff !important;
    background-color: var(--osu-dark-hover) !important
}

.btn-bg-regular {
    color: #fff !important;
    background-color: var(--osu-regular) !important
}

.btn-bg-regular:hover {
    color: #fff !important;
    background-color: var(--osu-regular-hover) !important
}

.btn-bg-regular:focus,
.btn-bg-regular.focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-bg-regular:focus,
.btn-bg-regular:active,
.btn-bg-regular.active {
    color: #fff !important;
    background-color: var(--osu-regular-hover) !important
}

@media (min-width: 576px) {
    .container {
        max-width: 440px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 620px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 860px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--osu-regular);
    border-radius: 7.5px;
    background-clip: content-box;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--osu-dark);
    border: 3px solid transparent;
    border-radius: 7.5px;
    background-clip: content-box;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 3px solid transparent;
    border-radius: 7.5px;
    background-clip: content-box;
}

.tabs-osu-dark {
    background-color: var(--osu-dark) !important;
}

.tabs-osu-regular {
    background-color: var(--osu-regular) !important;
}

.nav-link:active {
    background-color: var(--osu-dark) !important;
}

.bg-osu-dark {
    background-color: var(--osu-dark);
}

.bg-osu-regular {
    background-color: var(--osu-regular);
}

.osu-base{
    font-family: "Torus" !important;
}

html {
    font-size: 10px;
}

.text-osu-regular {
    color: var(--osu-regular) !important;
}

.text-osu-dark {
    color: var(--osu-dark);
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

.form-extend-osu {
    color:white;
}

.form-extend-osu label {
    color:white;
}

.form-extend-osu:focus {
    color:white;
}

.dropdown-content {
    position: absolute;
    z-index: 1021;
    display: none;
    min-width: 6.25rem;
    max-height: 40.625rem;
    margin: 0;
    overflow-y: auto;
    background-color: var(--osu-dark);
    color:white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 0;
    will-change: width, height
}

.dropdown-content li {
    width: 100%;
    clear: both;
    line-height: 1.3rem;
    color: white;
    text-align: left;
    text-transform: none;
    cursor: pointer
}

.dropdown-content li:hover,
.dropdown-content li.active {
    background-color: var(--osu-regular);
}

.dropdown-content li>a,
.dropdown-content li>span {
    display: block;
    padding: .5rem;
    font-size: .9rem;
    color: white;
}

.dropdown-content li>a>i {
    height: inherit;
    line-height: inherit
}

.navbar {
    font-weight: 300;
    height:2rem;
}

.preloader-wrapper .spinner-osu-dark,
.preloader-wrapper .spinner-osu-dark-only {
    border-color: var(--osu-dark);
}

.preloader-wrapper .spinner-white,
.preloader-wrapper .spinner-white-only {
    border-color: #fff
}

.active .spinner-layer.spinner-white-only,
.active .spinner-layer.spinner-osu-dark-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.switch label input[type="checkbox"]:checked+.lever {
    background-color: #3D2932
}

.switch label input[type="checkbox"]:checked+.lever:after {
    left: 1.5rem;
    background-color: #644251
}

.range-field input[type="range"] {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 15px 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.range-field input[type="range"]+.thumb {
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    background-color: #ff65f7;
    border: none;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.range-field input[type="range"]+.thumb .value {
    display: block;
    width: 30px;
    font-size: 0;
    color: #ff65f7;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.range-field input[type="range"]::-webkit-slider-runnable-track {
    height: 3px;
    background: var(--osu-regular);
    border: none
}

.range-field input[type="range"]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin: -5px 0 0 0;
    background-color: #ff65f7;
    border: none;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-appearance: none;
    appearance: none
}

.range-field input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--osu-regular)
}

.range-field input[type="range"]::-moz-range-track {
    height: 3px;
    background: var(--osu-regular);
    border: none
}

.range-field input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background: #ff65f7;
    border: none;
    border-radius: 50%
}

.range-field input[type="range"]::-ms-thumb {
    width: 14px;
    height: 14px;
    background: #ff65f7;
    border: none;
    border-radius: 50%
}

.md-form {
    position: relative;
}

.settings-item {
    min-height:4rem;
}

.seperator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}

.list-group-item-sm {
    min-height:3rem !important;
}

.list-group-item-sm > .settings-item{
    min-height:2rem;
}

.modal-dialog .modal-content {
    border: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.modal-dialog .modal-content .modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.modal-dialog.cascading-modal .modal-header {
    padding: 1.5rem;
    margin: -2rem 1rem 1rem 1rem;
    text-align: center;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.osu-nav{
    max-height: 50px;
}

.osu-nav > .nav-link{
    height: 50px;
}

.table-hover tbody tr:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.075);
}

.highlight {
    background-color: var(--osu-dark-hover);
}